@*@model IEnumerable<Lingva.MVC.ViewModel.Response.GroupViewModel>
    @{
        ViewData["Title"] = "Group's List";
    }

    <!DOCTYPE html>

    <h3>Groups</h3>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                        @Html.DisplayNameFor(model => model.Name)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.DescriptionSort">
                        @Html.DisplayNameFor(model => model.Description)
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewBag.PictureSort">
                        @Html.DisplayNameFor(model => model.Picture)
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Picture)
                    </td>
                    <td>
                        @Html.ActionLink("Get", "Get", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Update", "Update", new { id = item.Id })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@


@using Lingva.MVC.ViewModel.Response
@model Lingva.MVC.Models.Response.IndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Lingva.MVC

@{
    ViewData["Title"] = "Group's List";
}

<!DOCTYPE html>

<h3>Groups</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameSort">
                Name
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.DateSort">
                Возраст
            </sort-header>
        </th>
        <th>
            <sort-header action="Index" up="@Model.SortViewModel.Up"
                         current="@Model.SortViewModel.Current" property="@Model.SortViewModel.LanguageSort">
                Компания
            </sort-header>
        </th>
    </tr>
    @foreach (GroupViewModel groupViewModel in Model.Groups)
    {
        <tr>
            <td>@groupViewModel.Name</td>
            <td>@groupViewModel.Date</td>
            <td>@groupViewModel.LanguageName</td>
            <td>@groupViewModel.Description</td>
            <td>@groupViewModel.Picture</td>
            <td>@Html.ActionLink("Get", "Get", new { id = groupViewModel.Id })</td>
            <td>@Html.ActionLink("Update", "Update", new { id = groupViewModel.Id })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = groupViewModel.Id })</td>
        </tr>
    }
</table>