@using Lingva.MVC.Models.Response
@model Lingva.MVC.Models.Response.IndexViewModel
<!--импортируем tag-хелперы проекта-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Lingva.MVC

@{
    ViewData["Title"] = "Group's List";
}

<!DOCTYPE html>

<h3>Groups</h3>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Name: </label>
        @Html.TextBox("filters.Name", Model.FilterViewModel.SelectedName, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Language: </label>
        @Html.DropDownList("filters.Language", Model.FilterViewModel.Languages as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filter" class="btn btn-default" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
        <tr>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"                            
                            current="@Model.SortViewModel.Current" property="@Model.SortViewModel.NameSort">
                    Name
                </sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.DateSort">
                    Date
                </sort-header>
            </th>
            <th>
                <sort-header action="Index" up="@Model.SortViewModel.Up"
                             current="@Model.SortViewModel.Current" property="@Model.SortViewModel.LanguageSort">
                    Language
                </sort-header>
            </th>
        </tr>
        @foreach (GroupViewModel groupViewModel in Model.Groups)
        {
            <tr>
                <td>@groupViewModel.Name</td>
                <td>@groupViewModel.Date</td>
                <td>@groupViewModel.LanguageId</td>
                <td>@groupViewModel.Description</td>
                <td>@groupViewModel.Picture</td>
                <td>@Html.ActionLink("Get", "Get", new { id = groupViewModel.Id })</td>
                <td>@Html.ActionLink("Update", "Update", new { id = groupViewModel.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = groupViewModel.Id })</td>
            </tr>
        }
    </table>

<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-name="@(Model.FilterViewModel.SelectedName)"
           page-url-language="@(Model.FilterViewModel.SelectedLanguage)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>