@model Lingva.MVC.Models.Group.Update.PageViewModel

@{
    ViewData["Title"] = "Edit group";
}
<h2>Edit group</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" asp-route-id="@Model.GroupViewModel.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.GroupViewModel.Name)
                </dt>
                <dd>
                    @Html.TextBox("Name", Model.GroupViewModel.Name, htmlAttributes: new { @class = "form-control" })
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GroupViewModel.Date)
                </dt>
                <dd>
                    @Html.TextBox("Date", Model.GroupViewModel.Date, htmlAttributes: new { @class = "form-control" })
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GroupViewModel.LanguageId)
                </dt>                
                <dd>
                    @Html.DropDownList("LanguageId", Model.Languages as SelectList, htmlAttributes: new { @class = "form-control" })
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GroupViewModel.Description)
                </dt>
                <dd>
                    @Html.TextBox("Description", Model.GroupViewModel.Description, htmlAttributes: new { @class = "form-control" })
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GroupViewModel.Picture)
                </dt>
                <dd>
                    @Html.TextBox("Picture", Model.GroupViewModel.Picture, htmlAttributes: new { @class = "form-control" })
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>