@model Lingva.MVC.ViewModel.Request.GroupCreateViewModel

@{
    ViewData["Title"] = "Edit group";
}
<h2>Edit group</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    <input type="text" name="Name" class="form-control" value="@Html.DisplayFor(modelItem => Model.Name)" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd>
                    <input type="text" name="Date" class="form-control" value="@Html.DisplayFor(modelItem => Model.Date)" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LanguageName)
                </dt>
                <dd>
                    <input type="text" name="LanguageName" class="form-control" value="@Html.DisplayFor(modelItem => Model.LanguageName)" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    <input type="text" name="Description" class="form-control" value="@Html.DisplayFor(modelItem => Model.Description)" />
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Picture)
                </dt>
                <dd>
                    <input type="text" name="Picture" class="form-control" value="@Html.DisplayFor(modelItem => Model.Picture)" />
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>